.container-charges-page {
  width: 100%;
  height: 100vh;
}

.container-charges-page button:hover {
  cursor: pointer;
  scale: 1.03;
  transition: 300ms;
}

.charges-page-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.charges-page-title {
  display: flex;
  justify-content: space-between;

  width: 95.20%;
  height: 4.5rem;

  margin: 2.5rem auto 0 auto;
  padding: 0 6.58rem 0 4.44rem;

  border-bottom: 1px solid rgba(172, 217, 197, 1);
}

.charges-page-title h1 {
  font-family: 'Inter', 'sens-serif';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: left;
  position: relative;
  top: 2.8125rem;
  color: rgba(14, 135, 80, 1);
}

.container-charges-page-main {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.section-title-icon-charges {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 84.31%;

  margin-top: 1.5rem;
}

.div-section-icon-charges-page {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.div-section-icon-charges-page h1 {
  font-family: Montserrat, sans-serif;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;

  color: #3F3F55;
}

.div-section-icon-charges-page img {
  width: 2rem;
  height: 2rem;
}

.div-title-tools-charges-page {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.div-title-tools-charges-page button:first-child {
  display: flex;
  padding: 0.25rem 3.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;


  border-radius: 0.625rem;
  background: #DA0175;

  font-family: Nunito, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  color: #F8F8F9;
}

.div-title-tools-search-bar-charges-page input {
  width: 19.87rem;
  height: 2.43rem;
  border-radius: 0.625rem;
  background: #FFF;
}

.div-title-tools-search-bar-charges-page img {
  position: absolute;
}

.container-table-charges-page div {
  display: flex;
  align-items: center;
}

.container-table-charges-page td {
  border-top: 1px solid #EFF0F6;
  border-bottom: none;
}

.container-table-charges-page th {
  font-family: Nunito, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.005rem;

  color: #3F3F55;
}

.window-header-tr-body td:first-child:hover,
.charges-detail-redict-button:hover {
  cursor: pointer;
  color: #DA0175;
  scale: 1.03;
  transition: 300ms;
}

.window-header-tr-body td:last-child img:hover {
  cursor: pointer;
  scale: 1.03;
  transition: 100ms;
}

.charge-page-buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.charge-page-buttons img {
  height: 1.938rem;
}

.charge-page-buttons img:hover {
  scale: 1.3;
  cursor: pointer;
}

.container-charge-table {
  width: 83.78%;
  height: 646px;
  background-color: #fff;
  border-radius: 1.875rem;
  margin-top: 1.5rem;
  margin-bottom: 2.84rem;

  overflow-y: scroll;
}

.container-charge-table tr td:last-child {
  padding-top: 0.8rem;
}

.container-charge-table td {

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  font-family: Nunito, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;

  letter-spacing: 0.00438rem;

  color: #6E6E85;
}

.container-charge-table::-webkit-scrollbar {
  width: 10px;
  scroll-margin: 10px;
}

.container-charge-table::-webkit-scrollbar-thumb {
  background-color: #DA0175;
  border-radius: 20px;
  height: 30px;
}

.no-search-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-search-table img {
  width: 550px;
}

.no-search-table h2 {
  color: #F08889;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 600;
}